/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
/* svg *[fill]:not([fill^="url(#"]) {
  fill: currentColor;
} */

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-dark-blue: #111827;
  /* --color-dark-blue: rgb(0, 0, 0); */
  --color-gradient: linear-gradient(166.77deg, #2f79cb -29%, #af51c5 141.21%);
  --color-light-white: #f9fafb;
  --color-white: #ffffff;

  --font-first: "DM Sans", sans-serif;
  --font-second: "Rubik", sans-serif;
  --font-third: "Roboto", sans-serif;

  --button-border-radius: 0.44rem;
  --card-border-radius: 2.81rem;

  --container-width: 1500px;
  --container-padding: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

.shadow {
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);
}

.opacity {
  opacity: 80%;
}

.button {
  background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
  color: inherit;
  border-radius: var(--button-border-radius);
  border: none;
  cursor: pointer;
}

body {
  font-family: var(--font-first);
  background-color: var(--color-dark-blue);
  overflow-x: hidden;
  letter-spacing: 2%;
}

.container {
  /* max-width: 77rem; */
  max-width: min(95vw, 77rem);
  margin-left: auto;
  margin-right: auto;
  /* padding: 0.1rem 40px; */
  padding: 0.1em clamp(10px, 2vw, 40px);
}

.nav-menu {
  margin-top: 2.5rem;
  color: var(--color-light-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* column-gap: 3.8125rem; */
  column-gap: clamp(2rem, 4.42vw, 3.8125rem);
  white-space: nowrap;
}

.nav-menu svg {
  fill: var(--color-white);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

.nav-menu-icon {
  margin-right: auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo p {
  font-family: var(--font-second);
  margin-left: 0.516rem;
  font-weight: 500;
  font-size: 1.25rem;
  color: #ffffff;
}

#overlay {
  display: none;
}

.nav-menu-item {
  font-weight: 300;
  font-size: clamp(0.8rem, 1.13vw, 0.88rem);
  color: var(--color-light-white);
}

.nav-button {
  border-radius: 0.31rem;
  padding: 0.75rem 1.56rem;
}

/* Blur */
.blur {
  position: absolute;
  left: -148.17px;
  top: -51.36px;
  z-index: -100;
  opacity: 70%;
  filter: blur(106.597px);
}

.main {
  position: relative;
  bottom: 60px;
  overflow-x: hidden;
}

.hero-container {
  width: 100%;
  position: relative;
  z-index: -10;
}

.hero {
  position: relative;
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: clamp(20rem, 40vw, 33rem) 1fr;
  align-items: center;
}

.hero-image {
  position: relative;
  top: clamp(-1.75rem, -2vh, 1.75rem);
  width: 120%;
  max-width: 46.62rem;
  height: auto;
}

.content {
  color: var(--color-light-white);
}

.content-h1 {
  font-weight: 700;
  font-size: clamp(2rem, 4.22vw, 3.6rem);
  line-height: 145%;
  letter-spacing: 0.02em;
  background: linear-gradient(88deg, #2563eb 0%, #d946ef 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-info {
  margin-top: 20px;
  font-weight: 250;
  font-size: clamp(0.7rem, 1.13vw, 0.97rem);
  line-height: 200%;
}

.row {
  margin-top: 25px;
  display: flex;
}

.hero-button {
  border-radius: 0.38rem;
  padding: clamp(0.8rem, 1.46vw, 1.25rem) clamp(1.6rem, 2.93vw, 2.5rem);
}

.watch-video {
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.watch-video svg {
  width: 33px;
  height: 33px;
}

.watch-video p {
  margin-left: 11px;
  font-size: clamp(0.8rem, 1.17vw, 1rem);
}

/* Blur */
.blur-service {
  position: absolute;
  width: 1241.6px;
  height: 432px;
  left: 183.47px;
  top: 1032.53px;
}

.service {
  text-align: center;
  color: var(--color-white);
  margin-top: 30px;
  overflow: auto;

  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding-bottom: 15px;
  }

  .card {
    padding: 38px 24px 7px 24px;
  }

  .card-icon {
    position: relative;
    width: 72px;
    height: 72px;
  }

  .card-icon svg {
    position: absolute;
    left: 50%;
    top: 50%;
  }

  .service-bc-svg {
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    z-index: 1;
  }

  .service-face-svg {
    position: relative;
    width: 38px;
    height: 38px;
    transform: translate(-52%, -50%);
    z-index: 2;
  }

  .card h3 {
    font-size: 1.48rem;
    margin: 15px 0;
  }

  .card p {
    line-height: 150%;
    text-align: justify;
  }
}

.card-container {
  margin-top: 38px;
  justify-content: center;
  display: grid;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
    267.61deg,
    rgba(254, 254, 255, 0.03) -10.891%,
    rgba(255, 255, 255, 0.02) 104.767%
  );
  border-radius: 2.25rem;
  transition: 0.15s;
}

.card-container {
  .card:hover {
    cursor: pointer;
    scale: 110%;
  }
}

.section-h1 {
  font-size: clamp(1.25rem, 3vw, 2.55rem);
  line-height: clamp(1.1, 1.2, 2);
}

.section-p {
  padding-top: 25px;
  display: block;
  max-width: 580px;
  margin: 0 auto;
  font-weight: 250;
  font-size: clamp(0.1rem, 4vh, 0.99rem);
  line-height: 162%;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card h3 {
  font-weight: 400;
}

.card p {
  font-weight: 270;
  font-size: clamp(0.1rem, 4vh, 0.99rem);
}

.card-more {
  display: flex;
}

.info {
  margin-top: 56px;
  color: var(--color-white);

  .info-1 {
    display: grid;
    grid-template-columns: clamp(20rem, 50vw, 36.75rem) 1fr;
    grid-template-rows: 1fr 100px 1fr;

    .info-image-container {
      grid-area: 1 / 1 / 4 / 2;
    }

    .info-h1 {
      grid-area: 1 / 2 / 2 / 3;
    }

    .info-p {
      grid-area: 2 / 2 / 3 / 3;
    }

    .info-button {
      grid-area: 3 / 2 / 4 / 3;
    }
  }

  .info-2 {
    position: relative;
    left: 4.375rem;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr clamp(20rem, 50vw, 36.75rem);
    grid-template-rows: 1fr 100px 1fr;

    .info-image-container {
      grid-area: 1 / 2 / 4 / 3;
    }

    .info-h1 {
      grid-area: 1 / 1 / 2 / 2;
    }

    .info-p {
      grid-area: 2 / 1 / 3 / 2;
    }

    .info-button {
      grid-area: 3 / 1 / 4 / 2;
    }
  }

  .info-image {
    width: 100%;
    max-width: 588px;
    height: auto;
  }

  .info-h1 {
    margin-top: auto;
  }

  .info-p {
    display: block;
    width: 100%;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .info-button {
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 30px;
    font-size: 0.88rem;
    padding: 7px 15px;
    border-radius: 0.25rem;
  }
}

.team {
  text-align: center;
  color: var(--color-white);
  margin-top: 100px;

  .card-container {
    margin-top: 40px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }

  .card {
    padding: 40px 37px 33px 37px;
  }

  .card-icon {
    border-radius: 3.38rem;

    width: 5.67rem;
    height: 5.57rem;
    /* transform: rotate(-4.08deg); */
  }

  .team-image {
    position: relative;
    scale: 140%;
    top: 13px;
  }

  .card h3 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin: 6px 0;
  }

  .card p {
    /* letter-spacing: 0.03em; */
    letter-spacing: 5%;
    line-height: 1.1rem;
    margin-bottom: 11px;
    text-transform: uppercase;
  }

  .card-more {
    gap: 12px;
  }
}

.subscribe {
  color: var(--color-white);
  margin-top: 120px;

  .card {
    padding: clamp(
        1.875rem,
        1.5563725490196079rem + 1.30718954248366vw,
        3.125rem
      )
      clamp(1.5625rem, -0.5085784313725488rem + 8.496732026143789vw, 9.6875rem)
      clamp(0.9375rem, 0.6188725490196079rem + 1.30718954248366vw, 2.1875rem)
      clamp(1.5625rem, -0.5085784313725488rem + 8.496732026143789vw, 9.6875rem);
    /* padding: clamp(5px, 5vw, 50px) clamp(5px, 10vw, 155px) clamp(5px, 3vw, 35px)
      clamp(5px, 10vw, 155px); */
  }

  .subscribe-h1 {
    text-align: center;
    font-size: clamp(
      1.6rem,
      1.357843137254902rem + 0.9934640522875814vw,
      2.55rem
    );
  }

  .subscribe-p {
    /* padding-top: clamp(5px, 2vw, 20px); */
    padding-top: clamp(
      0.9375rem,
      0.857843137254902rem + 0.326797385620915vw,
      1.25rem
    );
    font-size: clamp(
      0.8rem,
      0.7515686274509804rem + 0.19869281045751624vw,
      0.99rem
    );
    max-width: 100%;
    font-weight: 250;
    line-height: 162%;
    text-align: justify;
  }

  .subscribe-container {
    margin-top: clamp(
      1.125rem,
      0.9656862745098039rem + 0.65359477124183vw,
      1.75rem
    );
    display: flex;
    width: 100%;
    box-shadow: 11px 26px 58px 0 rgba(0, 0, 0, 0.07);
    background: linear-gradient(
      180deg,
      rgba(254, 254, 255, 0.12) 0%,
      rgba(255, 255, 255, 0.12) 100%
    );
    border-radius: 4.69rem;
    padding: clamp(
      0.3125rem,
      0.23284313725490197rem + 0.326797385620915vw,
      0.625rem
    );
    /* padding: clamp(
      0.2rem,
      0.09166666666666667rem + 0.4444444444444444vw,
      0.625rem
    ); */
    /* padding: clamp(5px, 1vw, 10px); */
  }

  .subscribe-container input {
    width: 100%;
    background-color: inherit;
    border-radius: inherit;
    border: none;
    color: var(--color-white);
    /* text-indent: 6px; */
    text-indent: clamp(
      0.375rem,
      -0.07107843137254893rem + 1.830065359477124vw,
      2.125rem
    );
    font-weight: 300;
    font-size: clamp(
      1rem,
      0.961764705882353rem + 0.15686274509803913vw,
      1.15rem
    );
    /* line-height: 150%; */
  }

  .subscribe-button {
    border-radius: inherit;
    padding: clamp(
        0.4375rem,
        0.19903846153846153rem + 0.6153846153846154vw,
        0.9375rem
      )
      clamp(1.25rem, 0.9519230769230769rem + 0.7692307692307693vw, 1.875rem);
    display: flex;
    align-items: center;

    svg {
      margin-right: 0.5rem;
      position: relative;
      top: 1px;
    }

    p {
      font-weight: 500;
      font-size: clamp(
        0.875rem,
        0.8153846153846154rem + 0.15384615384615385vw,
        1rem
      );
      line-height: 150%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .subscribe-container > input:focus {
    outline: none;
  }

  .subscribe-container:focus-within {
    outline: 0.0625rem solid #ffffff;
  }
}

.footer {
  margin-top: 100px;
  display: flex;
  color: var(--color-white);
  overflow-x: hidden;

  .left {
    .logo {
      img {
        width: clamp(
          1.5625rem,
          0.9030612244897959rem + 1.1224489795918369vw,
          2.25rem
        );
        height: clamp(
          1.5625rem,
          0.9030612244897959rem + 1.1224489795918369vw,
          2.25rem
        );
      }

      p {
        font-size: clamp(
          1.1rem,
          0.956122448979592rem + 0.24489795918367332vw,
          1.25rem
        );
      }
    }

    .section-p {
      padding-top: clamp(0.1875rem, -0.2625rem + 1vw, 0.9375rem);
      line-height: 200%;

      .footer-info {
        margin-top: clamp(
          0rem,
          -0.5994897959183674rem + 1.0204081632653061vw,
          0.625rem
        );
        display: flex;
        align-items: center;

        p {
          margin-left: 7px;
          font-size: clamp(0.82rem, 0.718rem + 0.22666666666666674vw, 0.99rem);
        }

        svg {
          width: clamp(1rem, 0.7rem + 0.6666666666666667vw, 1.5rem);
          height: clamp(1rem, 0.7rem + 0.6666666666666667vw, 1.5rem);
        }
      }

      .footer-info:first-child {
        margin-top: 0;
      }

      .footer-info:last-child {
        margin-top: clamp(
          0.4375rem,
          0.0625rem + 0.8333333333333334vw,
          1.0625rem
        );
        justify-content: space-between;

        svg {
          width: clamp(1.375rem, 1.075rem + 0.6666666666666667vw, 1.875rem);
          height: clamp(1.375rem, 1.075rem + 0.6666666666666667vw, 1.875rem);
        }
      }
    }
  }

  .right {
    overflow-x: hidden;
    display: flex;
    flex: 1;
    justify-content: space-between;
    /* padding-left: clamp(
      2.5rem,
      -9.873853211009175rem + 23.853211009174313vw,
      18.75rem
    ); */
    padding-left: clamp(
      1.5rem,
      -10.75306623058054rem + 28.12755519215045vw,
      23rem
    );
    font-weight: 300;
    font-size: clamp(0.8rem, 0.608rem + 0.42666666666666675vw, 1.12rem);
    line-height: 222%;
    letter-spacing: 0.01em;
    white-space: nowrap;

    .right-column {
      flex: 1;
      margin-left: auto;
    }

    .right-column:not(:first-child) {
      padding-left: clamp(
        1rem,
        -1.2125000000000004rem + 4.916666666666667vw,
        4.6875rem
      );
    }
  }
}

@media screen and (min-width: 1524px) {
  html {
    zoom: 1.07;
  }
}

@media (max-width: 730px) {
  .main {
    bottom: 0;

    .section-h1 {
      font-size: 2rem;
    }

    .section-p {
      font-size: 0.95rem;
      padding-top: 15px;
    }

    .card-container {
      margin-top: 20px;
    }
  }

  .nav-menu {
    margin-top: 0;
    justify-content: space-between;

    .nav-menu-list {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      position: fixed;
      top: 0;
      right: -100%;
      z-index: 10;
      width: 300px;
      height: 100vh;

      background-color: #111827cd;
      backdrop-filter: blur(0.6rem);
      box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);

      transition: right 0.3s ease-out;
    }

    .nav-menu-item {
      box-sizing: border-box;
      height: auto;
      width: 100%;
      border-bottom: 1px solid linear-gradient(88deg, #2563eb 0%, #d946ef 50%);
      border-width: 90%;
      padding: 20px 30px;
      justify-content: flex-start;
      font-size: 17px;
    }

    .open-sidebar-button,
    .close-sidebar-button {
      display: flex;
      align-items: center;
    }

    .open-sidebar-button {
      padding: 20px 0 20px 20px;
    }

    .close-sidebar-button {
      padding: 20px 20px 0 20px;
    }

    #sidebar-active:checked ~ .nav-menu-list {
      right: 0;
    }

    #sidebar-active:checked ~ #overlay {
      display: block;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 9;
    }
  }

  .hero {
    top: 0;
    grid-template-columns: 1fr;
    top: -22px;
    text-align: center;

    .hero-image-container {
      order: -1;
      display: flex;
      justify-content: center;
      overflow-x: hidden;
      overflow-y: hidden;
    }

    .content-h1 {
      font-size: 2.2rem;
    }

    .hero-image {
      scale: 120%;
    }

    .row {
      width: 100%;
      justify-content: space-around;
    }

    .hero-button {
      padding: 0.8rem 2.2rem;
    }
  }

  .service {
    margin-top: 52px;
  }

  .info {
    .info-1 {
      display: flex;
      flex-direction: column;

      .info-image {
        position: relative;
        left: 18px;
        scale: 105%;
      }
    }

    .info-2 {
      left: 0;
      margin-top: 50px;
      display: flex;
      flex-direction: column;

      .info-image {
        padding-top: 18px;
        position: relative;
        right: 20px;
      }
    }

    .info-h1 {
      order: -1;
      text-align: center;
    }

    .info-image-container {
      overflow-x: hidden;
      overflow-y: hidden;
    }

    .info-p {
      padding-top: 0;
    }
  }

  .team {
    margin-top: 75px;
  }
}

@media (max-width: 620px) {
  .subscribe {
    .subscribe-button {
      padding: 0.5375rem 0.6375rem;
      border-radius: 90%;

      p {
        display: none;
      }

      svg {
        margin-right: 0;
        top: 2px;
        right: 0.0325rem;
      }
    }
  }
}
