/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill]:not([fill^="url(#"]) {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-dark-blue: #111827;
  /* --color-dark-blue: rgb(0, 0, 0); */
  --color-gradient: linear-gradient(166.77deg, #2f79cb -29%, #af51c5 141.21%);
  --color-light-white: #f9fafb;
  --color-white: #ffffff;

  --font-first: "DM Sans", sans-serif;
  --font-second: "Rubik", sans-serif;
  --font-third: "Roboto", sans-serif;

  --button-border-radius: 0.44rem;
  --card-border-radius: 2.81rem;

  --container-width: 1500px;
  --container-padding: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

.shadow {
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.07);
}

.opacity {
  opacity: 80%;
}

.button {
  background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
  color: inherit;
  border-radius: var(--button-border-radius);
  border: none;
}

body {
  font-family: var(--font-first);
  background-color: var(--color-dark-blue);
  overflow-x: hidden;
  letter-spacing: 2%;
}

.container {
  /* max-width: 77rem; */
  max-width: min(95vw, 77rem);
  margin-left: auto;
  margin-right: auto;
  /* padding: 0.1rem 40px; */
  padding: 0.1em clamp(10px, 2vw, 40px);
}

.nav-menu {
  margin-top: 2.5rem;
  color: var(--color-light-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* column-gap: 3.8125rem; */
  column-gap: clamp(2rem, 4.42vw, 3.8125rem);
  white-space: nowrap;
}

.nav-menu svg {
  fill: var(--color-white);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

.nav-menu-icon {
  margin-right: auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo p {
  font-family: var(--font-second);
  margin-left: 0.516rem;
  font-weight: 500;
  font-size: 1.25rem;
  color: #ffffff;
}

#overlay {
  display: none;
}

.nav-menu-item {
  font-weight: 300;
  font-size: clamp(0.8rem, 1.13vw, 0.88rem);
  color: var(--color-light-white);
}

.nav-button {
  border-radius: 0.31rem;
  padding: 0.75rem 1.56rem;
}

/* Blur */
.blur {
  position: absolute;
  left: -148.17px;
  top: -51.36px;
  z-index: -100;
  opacity: 70%;
  filter: blur(106.597px);
}

.main {
  position: relative;
  bottom: 60px;
}

.hero-container {
  width: 100%;
  position: relative;
  z-index: -10;
}

.hero {
  position: relative;
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: clamp(20rem, 40vw, 33rem) 1fr;
  align-items: center;
}

.hero-image {
  position: relative;
  top: clamp(-1.75rem, -2vh, 1.75rem);
  width: 120%;
  max-width: 46.62rem;
  height: auto;
}

.content {
  color: var(--color-light-white);
}

.content-h1 {
  font-weight: 700;
  font-size: clamp(2rem, 4.22vw, 3.6rem);
  line-height: 145%;
  letter-spacing: 0.02em;
  background: linear-gradient(88deg, #2563eb 0%, #d946ef 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-info {
  margin-top: 20px;
  font-weight: 250;
  font-size: clamp(0.7rem, 1.13vw, 0.97rem);
  line-height: 200%;
}

.row {
  margin-top: 25px;
  display: flex;
}

.hero-button {
  border-radius: 0.38rem;
  padding: clamp(0.8rem, 1.46vw, 1.25rem) clamp(1.6rem, 2.93vw, 2.5rem);
}

.watch-video {
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.watch-video svg {
  width: 33px;
  height: 33px;
}

.watch-video p {
  margin-left: 11px;
  font-size: clamp(0.8rem, 1.17vw, 1rem);
}

/* Blur */
.blur-service {
  position: absolute;
  width: 1241.6px;
  height: 432px;
  left: 183.47px;
  top: 1032.53px;
}

.service {
  text-align: center;
  color: var(--color-white);
  margin-top: 30px;
  overflow: auto;
}

.service-card-container {
  margin-top: 38px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
    267.61deg,
    rgba(254, 254, 255, 0.03) -10.891%,
    rgba(255, 255, 255, 0.02) 104.767%
  );
  border-radius: 2.25rem;
  padding: 38px 24px 7px 24px;
}

.section-h1 {
  font-size: clamp(1.25rem, 3vw, 2.55rem);
  line-height: clamp(1.1, 1.2, 2);
}

.section-p {
  padding-top: 25px;
  display: block;
  max-width: 580px;
  margin: 0 auto;
  font-weight: 250;
  /* font-size: 0.99rem; */
  font-size: clamp(0.1rem, 4vh, 0.99rem);
  line-height: 162%;
}

.service-card-icon {
  position: relative;
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-card-icon svg {
  position: absolute;
  left: 50%;
  top: 50%;
}

.service-bc-svg {
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
  z-index: 1;
}

.service-face-svg {
  position: relative;
  width: 38px;
  height: 38px;
  transform: translate(-52%, -50%);
  z-index: 2;
}

.service-card h3 {
  font-weight: 400;
  font-size: 1.48rem;
  margin: 15px 0;
}

.service-card p {
  font-weight: 270;
  font-size: clamp(0.1rem, 4vh, 0.99rem);
  /* font-size: 0.98rem; */
  line-height: 150%;
  text-align: justify;
}

.service-card-more {
  display: flex;
}

.info {
  margin-top: 70px;
  color: var(--color-white);

  .info-1 {
    display: grid;
    grid-template-columns: clamp(20rem, 50vw, 36.75rem) 1fr;
    grid-template-rows: 1fr 100px 1fr;

    .info-image-container {
      grid-area: 1 / 1 / 4 / 2;
    }

    .info-h1 {
      grid-area: 1 / 2 / 2 / 3;
    }

    .info-p {
      grid-area: 2 / 2 / 3 / 3;
    }

    .info-button {
      grid-area: 3 / 2 / 4 / 3;
    }
  }

  .info-2 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr clamp(20rem, 50vw, 36.75rem);
    grid-template-rows: 1fr 100px 1fr;

    .info-image-container {
      grid-area: 1 / 2 / 4 / 3;
    }

    .info-h1 {
      grid-area: 1 / 1 / 2 / 2;
    }

    .info-p {
      grid-area: 2 / 1 / 3 / 2;
    }

    .info-button {
      grid-area: 3 / 1 / 4 / 2;
    }
  }

  .info-image {
    width: 100%;
    max-width: 588px;
    height: auto;
  }

  .info-h1 {
    margin-top: auto;
  }

  .info-p {
    display: block;
    width: 100%;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .info-button {
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 30px;
    font-size: 0.88rem;
    padding: 7px 15px;
    border-radius: 0.25rem;
  }
}

@media (max-width: 730px) {
  .main {
    bottom: 0;

    .section-h1 {
      font-size: 2rem;
    }

    .section-p {
      font-size: 0.95rem;
    }
  }

  .nav-menu {
    margin-top: 0;
    justify-content: space-between;

    .nav-menu-list {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      position: fixed;
      top: 0;
      right: -100%;
      z-index: 10;
      width: 300px;
      height: 100vh;

      background-color: #111827cd;
      backdrop-filter: blur(0.6rem);
      box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);

      transition: right 0.3s ease-out;
    }

    .nav-menu-item {
      box-sizing: border-box;
      height: auto;
      width: 100%;
      border-bottom: 1px solid linear-gradient(88deg, #2563eb 0%, #d946ef 50%);
      border-width: 90%;
      padding: 20px 30px;
      justify-content: flex-start;
      font-size: 17px;
    }

    .open-sidebar-button,
    .close-sidebar-button {
      display: flex;
      align-items: center;
    }

    .open-sidebar-button {
      padding: 20px 0 20px 20px;
    }

    .close-sidebar-button {
      padding: 20px 20px 0 20px;
    }

    #sidebar-active:checked ~ .nav-menu-list {
      right: 0;
    }

    #sidebar-active:checked ~ #overlay {
      display: block;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 9;
    }
  }

  .hero {
    top: 0;
    grid-template-columns: 1fr;
    top: -22px;
    text-align: center;

    .hero-image-container {
      order: -1;
      display: flex;
      justify-content: center;
      overflow-x: hidden;
      overflow-y: hidden;
    }

    .content-h1 {
      font-size: 2.2rem;
    }

    .hero-image {
      scale: 120%;
    }

    .row {
      width: 100%;
      justify-content: space-around;
    }

    .hero-button {
      padding: 0.8rem 2.2rem;
    }
  }

  .info {
    .info-1 {
      display: flex;
      flex-direction: column;

      .info-image {
        position: relative;
        left: 18px;
        scale: 105%;
      }
    }

    .info-2 {
      margin-top: 50px;
      display: flex;
      flex-direction: column;

      .info-image {
        padding-top: 18px;
        position: relative;
        right: 20px;
      }
    }

    .info-h1 {
      order: -1;
      text-align: center;
    }

    .info-image-container {
      overflow-x: hidden;
      overflow-y: hidden;
    }

    .info-p {
      padding-top: 0;
    }
  }
}
